*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 a:link{
    color: purple;
 }
 a:VISITED{
     COLOR:YELLOW;
 }
 a:hover{
    color: #000;
 }
 a:active{
    color:green;
 }
 input:focus{
    margin: 5px;
    padding: 5px;
    background-color: #e0f8f6;
    color: red;
    outline: none;
 }